
.react-autosuggest__container li {
    list-style-type: none;
}

.react-autosuggest__container {
    position: relative;
    width: 100%;
}

.input-cell .react-autosuggest__container--open .react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
    display: block;
    width: 100%;
    margin-top: -5px;
    background: #fff;
    position: absolute;
    border: 1px solid #aaa;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestion {
    cursor: pointer;
}

.react-autosuggest__suggestion--focused {
    font-color: rgb(51, 51, 51);
    font-weight: bold;
}

.react-autosuggest__section-title {
    padding: 10px;
    font-size: 12px;
    color: #777;
    border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container:first-child .react-autosuggest__section-title {
    border-top: 0;
    margin-top: 5px
}

