body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
/* chrome outline */
*:focus {
    outline: none;
}

/* table results */
table td.highlighted {
    background-color: #eee !important;
    /* border: 0.5px solid black !important; */
}

table td.has-annotation {
    /* -webkit-box-shadow:inset 0px 0px 0px 10px #f00; */
    /* -moz-box-shadow:inset 0px 0px 0px 10px #f00; */
    /* box-shadow:inset 0px 0px 0px 10px #f00; */
    box-shadow: 0 0px black inset,0 -3px turquoise inset, 0px 0 blue inset, 0px 0 green inset;
}

/* notifications */
ul#notifications {
    position: fixed;
    right: 15px;
    top: 55px;
    z-index: 1001;
}

li#notification {
    max-width: 380px;
    min-height: 25px;
    margin-top: 5px;
    padding: 12px;
    line-height: 1.4;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 7px 6px rgba(0,0,0,0.2), 2px 4px 6px rgba(0,0,0,0.5);
    color: rgba(250,251,255,0.95);
    background: rgba(42,45,50,0.85);
}

.notification-enter {
    opacity: 0;
    transition: opacity 0.27s ease-out;
}

.notification-leave {
    opacity: 0;
    transition: opacity 0.27s ease-out;
}

.notification-enter-active {
    opacity: 0.8;
}

/* wierdo bootstrap */
.dropdown-toggle {
    height: 34px;
}

div.pad {
    padding-right: 2px !important;
    padding-left: 2px !important;
}

/* loader */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #0dc5c1;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* annotation input */
input.focus-cell:focus, input.focus-cell.clicked {
    background-color: #ededf3;
}

input.focus-cell {
    box-sizing: border-box;
    border: none;
    font-size: 14px;
    width: 100%;
    padding: 0px;
}

table#table-annotation {
    text-align: center;
}

/* table#table-queue { border-collapse: separate; } */
/* table#table-queue td { border: solid 1px #000; } */

/* table#table-queue tr.checked td:first-child { border-top-left-radius: 6px; } */
/* table#table-queue tr.checked td:last-child { border-top-right-radius: 6px; } */
/* table#table-queue tr.checked td:first-child { border-bottom-left-radius: 6px; } */
/* table#table-queue tr.checked td:last-child { border-bottom-right-radius: 6px; } */

