.navbar-default > .navbar-nav > li > i:hover, .navbar-default .navbar-nav > li > i:focus {
    color: #cecece;
}

.nav>li>a:hover {
    background-color: #464646 !important;
}

*:focus {
    outline: none;
}

table td.highlighted {
    background-color: #eee !important;
    /* border: 0.5px solid black !important; */
}

/* transition group */
li#notification {
    max-width: 380px;
    min-height: 55px;
    margin-top: 5px;
    padding: 22px;
    line-height: 1.4;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 7px 6px rgba(0,0,0,0.2), 2px 4px 6px rgba(0,0,0,0.5);
    color: rgba(250,251,255,0.95);
    background: rgba(42,45,50,0.85);
}

.notification-enter {
    opacity: 0;
    transition: opacity 0.27s ease-out;
}

.notification-leave {
    opacity: 0;
    transition: opacity 0.27s ease-out;
}

.notification-enter-active {
    opacity: 0.8;
}

.panel-enter {
    opacity: 0;
    transition: opacity 0.27s ease-out;
}

.panel-leave {
    opacity: 0;
    transition: opacity 0.27s ease-out;
}

.panel-enter-active {
    opacity: 0.75;
}

