table td.highlighted {
    background-color: #e3e3e3 !important;
    color: black !important;
    /* border: 0.5px solid black !important; */
}

table tr.marked {
    background-color: #e3e3e3 !important;
    color: black !important;
}

table tr.break {
    border-top: 2px solid rgba(154, 126, 126, 0.12);
}

/* checkbox */
input[type=checkbox].checkbox-custom {
    opacity: 0;
    position: absolute;   
}

input[type=checkbox].checkbox-custom, label.checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    cursor: pointer;
}

label.checkbox-custom-label {
    position: relative;
}

input[type=checkbox].checkbox-custom + label.checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    text-align: center;
}

input[type=checkbox].checkbox-custom:checked + label.checkbox-custom-label:before {
    background: #999999;
}

input[type=checkbox].checkbox-custom:focus + label.checkbox-custom-label {
    outline: 1px solid black; /* focus style */
}

table#table-annotation {
    /* border-collapse: collapse !important; */
    box-sizing: border-box;
    table-layout: fixed; /* same cell widths (avoid wierd resizing) */
    width: 100%;
    text-align: center;
}

table#table-annotation td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table#table-annotation tr td {
    width: 100%;
    display: table-cell;
}

/* table#table-annotation tr td:first-child { */
/*     width: 90% !important; */
/* } */

table#table-annotation tr.queue-row:hover {
    opacity: 0.8;
    color: black !important;
}

table td.has-annotation {
    background-color: #E7E7E7;
}

table#table-annotation td.is-span {
    box-shadow: 0 -3px #b8d6cf inset;
}

table .info {
    background-color: rgba(117, 202, 235, 0.42) !important; 
    color: #555555 !important;
}

/* annotation table */
table#table-annotation input.input-cell:focus {
    background-color: #e7e7e7;
}

table#table-annotation input.input-cell {
    background-color: #f5f5f5;
    border: none;
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 0px;
}

table#table-annotation td.unselectable { /*avoid text selection on hit-row*/
    user-select: none; /* CSS3 (little to no support) */
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

table#table-annotation tr:hover td.ann-cell {
    background-color: #f6f6f6;
    cursor: pointer;
}

table#table-annotation tr.ann-row:hover {
    background-color: #fafafa;
}

